################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/public/.vs/slnx.sqlite
/node_modules
/public/.vs/public/FileContentIndex
